* {
    font-family: "Poppins", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    color: #fff;
    color: #333645;
    background: #fff;
    margin: 0;
    letter-spacing: .4px;
  }
  
  button,
  a,
  .card-top {
    cursor: pointer;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  
  .max-width {
    max-width: 750px;
    margin: auto;
  }
  
  .caps {
    text-transform: uppercase;
  }
  
  .shadow-bottom {
    -webkit-box-shadow: 0 1rem 2rem #e6e6e6;
            box-shadow: 0 1rem 2rem #e6e6e6;
  }
  
  .shadow-box {
    -webkit-box-shadow: 0.4rem 0.4rem 1rem 0 #f2f2f2, -0.4rem -0.4rem 1rem 0 #f2f2f2;
            box-shadow: 0.4rem 0.4rem 1rem 0 #f2f2f2, -0.4rem -0.4rem 1rem 0 #f2f2f2;
  }
  
  .blue-focus:focus {
    outline: none;
    -webkit-box-shadow: -1px -1px 7px 0 #b0e1ef, 1px 1px 7px 0 #b0e1ef;
            box-shadow: -1px -1px 7px 0 #b0e1ef, 1px 1px 7px 0 #b0e1ef;
  }
  
  #search-bar div.search-bar input:focus,
  #search-bar div.search-btn input:focus, #newsletter-container input[type="text"]:focus,
  #newsletter-container input[type="email"]:focus {
    border: 1px solid #5bc0de;
  }
  
  .btn {
    display: inline-block;
    font-size: 1.065rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 5px 15px;
    height: 47px;
    border-radius: 4px;
  }
  
  .flex-clients,
  .partners-container,
  #navigation {
    display: none;
  }
  
  .client .flex-client > div {
    width: min-width;
  }
  
  header {
    padding: 20px 15px;
  }
  
  .flex-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    padding: 0 15px;
  }
  
  .flex-header #header-logo {
    margin: 0 auto 0 0;
  }
  
  .flex-header .header-left {
    min-width: 0ch;
    max-height: 62px;
  }
  
  .flex-header .header-left img {
    width: 100%;
  }
  
  .flex-header .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .inner-nav {
    color: #fff;
    background: #333645;
  }
  
  .inner-nav:hover {
    background: #1d1f28;
  }
  
  .inner-nav .nav-bars {
    background: #fff;
  }
  
  #first-search-bar {
    border: 2px solid #bbb;
  }
  
  #first-search-bar div {
    background: #eee;
  }
  
  #first-search-bar div input,
  #first-search-bar div button {
    background: #ddd;
  }
  
  #nav,
  #support .inner,
  #contact .inner {
    padding: 7px 0;
  }
  
  .inner-nav {
    display: inline-block;
    height: 100%;
    padding: 3px 15px;
    margin: 0 0 0 20px;
    border: none;
    border-radius: 4px;
  }
  
  .inner-nav .nav-bars {
    height: 0.1875rem;
    width: 2.0625rem;
    margin: 5px auto 0 auto;
  }
  
  .inner-nav small {
    font-size: .75rem;
  }
  
  #contact .fa-phone-volume {
    color: #333645;
    font-size: 2rem;
  }
  
  #contact .fa-paper-plane,
  #contact span {
    display: none;
  }
  
  #support {
    display: none;
  }
  
  #search-container {
    width: 100%;
  }
  
  #search-bar {
    display: none;
    margin: 10px 0 0 0;
  }
  
  #search-bar div.search-bar,
  #search-bar div.search-btn {
    height: 100%;
  }
  
  #search-bar div.search-bar input,
  #search-bar div.search-bar button,
  #search-bar div.search-btn input,
  #search-bar div.search-btn button {
    height: 100%;
    width: 100%;
    border: none;
  }
  
  #search-bar div.search-bar input,
  #search-bar div.search-btn input {
    font-size: 1rem;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  
  #search-bar div.search-bar {
    float: left;
  }
  
  #search-bar div.search-btn {
    float: right;
  }
  
  #search-bar div.search-btn button {
    border-radius: 0;
    font-size: 1.5rem;
  }
  
  #search-bar div.search-btn button:focus {
    outline: none;
  }
  
  .hide-bar {
    display: inline-block;
    height: 100%;
    width: 75%;
  }
  
  .first-outer {
    padding: 0 15px;
  }
  
  #first-search-bar {
    height: 5vh;
    width: 100%;
    margin: 10px 0 0 0;
    border-radius: 4px;
  }
  
  #first-search-bar div {
    height: 100%;
  }
  
  #first-search-bar div input,
  #first-search-bar div button {
    height: 100%;
    width: 100%;
    border: none;
  }
  
  #first-search-bar div input:focus,
  #first-search-bar div button:focus {
    outline: none;
  }
  
  #first-search-bar div input {
    padding: 5px 15px;
  }
  
  #first-search-bar div.first-search-bar {
    width: 90%;
    max-width: calc(100% - 2rem);
    float: left;
  }
  
  #first-search-bar div.first-search-btn {
    width: 10%;
    min-width: 2rem;
    color: #333645;
    float: right;
  }
  
  #first-search-bar div.first-search-btn i {
    font-size: 1.5rem;
  }
  
  .navigation-container {
    width: 100%;
    position: relative;
  }

  .navigation-container .inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 940px;
    margin: auto;
    border-left: 1px solid #494d62;
    border-right: 1px solid #1d1f28;
  }
  
  .navigation-container .inner-container a {
    display: inline-block;
    text-align: center;
    height: 6.25rem;
    width: 100%;
    padding: 1rem 0 0 0;
    line-height: 1;
  }
  
  .navigation-container .inner-container a div.logo *,
  .navigation-container .inner-container a div.caps * {
    display: block;
  }
  
  .navigation-container .inner-container a .logo {
    font-size: 1.5rem;
    padding: 0 0 10px 0;
  }
  
  .navigation-container .inner-container a small {
    font-size: .625rem;
  }
  
  .navigation-container .inner-container a h5 {
    font-size: 1.125rem;
    margin: 0;
    font-weight: normal;
  }
  
  .lower-nav-container,
  .lower-navigation + * {
    visibility: hidden;
    display: inline-block;
  }
  
  .lower-nav-container {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    height: 45px;
    width: 100%;
  }
  
  .lower-nav-container .lower-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0 15px;
    line-height: 3.5;
    font-size: 0.8125rem;
  }
  
  .lower-nav-container .lower-navigation li:nth-child(n+2):before {
    content: "-";
    margin: 0 20px;
  }
  
  .navigation-container {
    background: #333645;
  }
  
  .navigation-container .web .logo {
    color: #926fb1;
  }
  
  .navigation-container .support .logo {
    color: #4183d7;
  }
  
  .navigation-container .telecoms .logo {
    color: #d64541;
  }
  
  .navigation-container .bespoke .logo {
    color: #67809f;
  }
  
  .navigation-container .marketing .logo {
    color: #2ecc71;
  }
  
  .navigation-container .cyber .logo {
    color: #f62459;
  }
  
  .navigation-container a {
    border-left: 1px solid #1d1f28;
    border-right: 1px solid #494d62;
    color: #fff;
  }
  
  .navigation-container .web:hover {
    background: #926fb1;
    border-right: 1px solid #926fb1;
    border-left: 1px solid #926fb1;
  }
  
  .navigation-container .web:hover .logo {
    color: #fff;
  }
  
  .navigation-container .support:hover {
    background: #4183d7;
    border-right: 1px solid #4183d7;
    border-left: 1px solid #4183d7;
  }
  
  .navigation-container .support:hover .logo {
    color: #fff;
  }
  
  .navigation-container .telecoms:hover {
    background: #d64541;
    border-right: 1px solid #d64541;
    border-left: 1px solid #d64541;
  }
  
  .navigation-container .telecoms:hover .logo {
    color: #fff;
  }
  
  .navigation-container .bespoke:hover {
    background: #67809f;
    border-right: 1px solid #67809f;
    border-left: 1px solid #67809f;
  }
  
  .navigation-container .bespoke:hover .logo {
    color: #fff;
  }
  
  .navigation-container .marketing:hover {
    background: #2ecc71;
    border-right: 1px solid #2ecc71;
    border-left: 1px solid #2ecc71;
  }
  
  .navigation-container .marketing:hover .logo {
    color: #fff;
  }
  
  .navigation-container .cyber:hover {
    background: #f62459;
    border-right: 1px solid #f62459;
    border-left: 1px solid #f62459;
  }
  
  .navigation-container .cyber:hover .logo {
    color: #fff;
  }
  
  .navigation-container .web:hover div.lower-web {
    visibility: visible;
    background: #79539a;
  }
  
  .navigation-container .support:hover div.lower-support {
    visibility: visible;
    background: #286abd;
  }
  
  .navigation-container .telecoms:hover div.lower-telecoms {
    visibility: visible;
    background: #bc2c28;
  }
  
  .navigation-container .bespoke:hover div.lower-bespoke {
    visibility: visible;
    background: #526781;
  }
  
  .navigation-container .marketing:hover div.lower-marketing {
    visibility: visible;
    background: #25a25a;
  }
  
  .navigation-container .cyber:hover div.lower-cyber {
    visibility: visible;
    background: #de093f;
  }
  
  #img-slider,
  .slide-img {
    height: calc(100vh - 167.94px);
  }
  
  .slide-img-container {
    background-image: -webkit-gradient(linear, left top, right top, from(#030303), to(rgba(0, 0, 0, 0))), url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
    background-image: linear-gradient(90deg, #030303, rgba(0, 0, 0, 0)), url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  .slide-img-container .inner-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0 15px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }
  
  .slide-img-container .inner-slide h2 {
    margin: 0 0 15px 0;
  }
  
  .slide-img-container .inner-slide > p {
    margin: 0 0 35px 0;
  }
  
  .slide-img {
    width: 100%;
  }
  
  .slide-btn {
    display: inline;
    font-size: 1.25rem;
    padding: 5px 20px;
  }
  
  .slide-img-container {
    color: #fff;
  }
  
  .slide-img-container .inner-slide h2 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  .slide-img-container .inner-slide > p {
    font-size: 1.25rem;
  }
  
  .slide-img-container .web-img-btn {
    color: #fff;
    background: #926fb1;
  }
  
  .slide-img-container .web-img-btn:hover {
    background: #79539a;
  }
  
  .arrow-btn button {
    border: none;
    border-radius: 4px;
  }
  
  .arrow-btn {
    display: inline-block;
  }
  
  .arrow-btn button,
  .arrow-btn button * {
    display: inline-block;
    margin: auto;
  }
  
  .arrow-btn button i {
    margin: 0 0 0 .75rem;
  }
  
  .arrow-btn,
  .arrow-btn button {
    min-height: 62px;
  }
  
  #block-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 15px;
  }
  
  #block-container .row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  
  #block-container .row-1 > a:nth-child(n+2) {
    margin-top: 30px;
  }
  
  #block-container .row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #block-container .row-2 > a:nth-child(n+2) {
    margin-top: 30px;
  }
  
  #block-container .block {
    padding: 30px;
  }
  
  #block-container .block-bar, #block-container .block-logo {
    margin: auto auto 17px auto;
  }
  
  #block-container .block-bar {
    height: 3px;
    width: 28px;
    background: black;
  }
  
  #block-container .block-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
  }
  
  #block-container .block-logo .logo {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  
  #block-container .block h5 {
    margin: 0 0 11px 0;
    font-size: 1.125rem;
    font-weight: normal;
  }
  
  #block-container .block-btn {
    line-height: 2;
  }
  
  #block-container {
    background: #fff;
  }
  
  #block-container .block {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-size: 0.8125rem;
  }
  
  #block-container .block-logo {
    color: #fff;
  }
  
  #block-container .block:hover {
    color: #fff;
  }
  
  #block-container .block:hover > .block-bar, #block-container .block:hover .block-logo, #block-container .block:hover .block-btn {
    background: #fff;
  }
  
  #block-container .bespoke:hover {
    border: 1px solid #67809f;
  }
  
  #block-container .bespoke:hover,
  #block-container .bespoke > .block-logo, #block-container .bespoke .block-btn {
    background: #67809f;
  }
  
  #block-container .bespoke:hover .block-btn,
  #block-container .bespoke:hover .block-logo,
  #block-container .bespoke > .block-logo .block-btn,
  #block-container .bespoke > .block-logo .block-logo, #block-container .bespoke .block-btn .block-btn,
  #block-container .bespoke .block-btn .block-logo {
    color: #67809f;
  }
  
  #block-container .support:hover {
    border: 1px solid #4183d7;
  }
  
  #block-container .support:hover,
  #block-container .support > .block-logo, #block-container .support .block-btn {
    background: #4183d7;
  }
  
  #block-container .support:hover .block-btn,
  #block-container .support:hover .block-logo,
  #block-container .support > .block-logo .block-btn,
  #block-container .support > .block-logo .block-logo, #block-container .support .block-btn .block-btn,
  #block-container .support .block-btn .block-logo {
    color: #4183d7;
  }
  
  #block-container .marketing:hover {
    border: 1px solid #2ecc71;
  }
  
  #block-container .marketing:hover,
  #block-container .marketing > .block-logo, #block-container .marketing .block-btn {
    background: #2ecc71;
  }
  
  #block-container .marketing:hover .block-btn,
  #block-container .marketing:hover .block-logo,
  #block-container .marketing > .block-logo .block-btn,
  #block-container .marketing > .block-logo .block-logo, #block-container .marketing .block-btn .block-btn,
  #block-container .marketing .block-btn .block-logo {
    color: #2ecc71;
  }
  
  #block-container .telecoms:hover {
    border: 1px solid #d64541;
  }
  
  #block-container .telecoms:hover,
  #block-container .telecoms > .block-logo, #block-container .telecoms .block-btn {
    background: #d64541;
  }
  
  #block-container .telecoms:hover .block-btn,
  #block-container .telecoms:hover .block-logo,
  #block-container .telecoms > .block-logo .block-btn,
  #block-container .telecoms > .block-logo .block-logo, #block-container .telecoms .block-btn .block-btn,
  #block-container .telecoms .block-btn .block-logo {
    color: #d64541;
  }
  
  #block-container .web:hover {
    border: 1px solid #926fb1;
  }
  
  #block-container .web:hover,
  #block-container .web > .block-logo, #block-container .web .block-btn {
    background: #926fb1;
  }
  
  #block-container .web:hover .block-btn,
  #block-container .web:hover .block-logo,
  #block-container .web > .block-logo .block-btn,
  #block-container .web > .block-logo .block-logo, #block-container .web .block-btn .block-btn,
  #block-container .web .block-btn .block-logo {
    color: #926fb1;
  }
  
  #block-container .cyber:hover {
    border: 1px solid #f62459;
  }
  
  #block-container .cyber:hover,
  #block-container .cyber > .block-logo, #block-container .cyber .block-btn {
    background: #f62459;
  }
  
  #block-container .cyber:hover .block-btn,
  #block-container .cyber:hover .block-logo,
  #block-container .cyber > .block-logo .block-btn,
  #block-container .cyber > .block-logo .block-logo, #block-container .cyber .block-btn .block-btn,
  #block-container .cyber .block-btn .block-logo {
    color: #f62459;
  }
  
  #block-container .training:hover {
    border: 1px solid #926fb1;
  }
  
  #block-container .training:hover,
  #block-container .training > .block-logo, #block-container .training .block-btn {
    background: #926fb1;
  }
  
  #block-container .training:hover .block-btn,
  #block-container .training:hover .block-logo,
  #block-container .training > .block-logo .block-btn,
  #block-container .training > .block-logo .block-logo, #block-container .training .block-btn .block-btn,
  #block-container .training .block-btn .block-logo {
    color: #926fb1;
  }
  
  .block-btn {
    border: none;
    border-radius: 4px;
    color: #fff;
  }
  
  .block-btn {
    display: inline-block;
    height: 47px;
  }
  
  #our-culture {
    padding: 50px 15px;
  }
  
  #our-culture .container-culture .arrow-btn p {
    margin: 0;
  }
  
  #our-culture .container-culture .arrow-btn,
  #our-culture .container-culture .arrow-btn button {
    min-height: 47px;
    height: auto;
  }
  
  #our-culture h2 {
    margin: -6px 0 28px 0;
  }
  
  #our-culture p {
    margin: 0 0 25px 0;
  }
  
  #our-culture {
    color: #fff;
    background: #333645;
  }
  
  #our-culture p {
    line-height: 1.9;
  }
  
  #our-culture strong {
    font-weight: 600;
  }
  
  #our-culture h2 {
    font-size: 2.25rem;
    font-weight: normal;
    line-height: 1;
  }
  
  #our-culture .arrow-btn button {
    color: #333645;
    background: #fff;
  }
  
  #our-culture .arrow-btn button:hover {
    background: #e6e6e6;
  }
  
  #latest-cards .header-latest,
  #latest-cards .header-latest *,
  #latest-cards ul {
    display: inline-block;
  }
  
  #latest-cards .shadow-bottom {
    width: 100%;
  }
  
  #latest-cards .center {
    text-align: center;
  }
  
  #latest-cards .header-latest {
    width: 100%;
    padding: 0 15px;
    text-align: left;
  }
  
  #latest-cards .header-latest > div.caps {
    padding: 0;
    margin: 0;
  }
  
  #latest-cards .header-latest > div.caps span {
    padding: 34px 0;
    font-weight: 600;
  }
  
  #latest-cards .card-container {
    padding: 50px 15px;
  }
  
  #latest-cards .card-container .card-inner {
    position: relative;
    height: 100%;
  }
  
  #latest-cards .card-container .card {
    position: relative;
  }
  
  #latest-cards .card-container > div:not(:first-child) {
    margin: 30px 0 0 0;
  }
  
  #latest-cards .card-container .card-top {
    height: 100%;
  }
  
  #latest-cards .card-container .card-top .card-img-container {
    height: 35%;
  }
  
  #latest-cards .card-container .card-top img {
    position: relative;
    width: 100%;
    visibility: hidden;
  }
  
  #latest-cards .card-container .tag {
    position: absolute;
    color: #fff;
    font-size: .75rem;
    font-weight: 600;
    padding: 0 10px;
    top: .5rem;
    right: 0;
  }
  
  #latest-cards .card-container .tag:hover {
    text-decoration: underline;
  }
  
  #latest-cards .card-container .news-tag {
    background: #2ecc71;
  }
  
  #latest-cards .card-container .careers-tag {
    background: #4183d7;
  }
  
  #latest-cards .card-container .card-body {
    padding: 30px;
    z-index: 1;
  }
  
  #latest-cards .card-container .card-body hr {
    margin: 30px 0 0 0;
  }
  
  #latest-cards .card-container .card-body p {
    height: 60px;
  }
  
  #latest-cards .card-container .card-body .card-title {
    margin: 0 0 15px 0;
  }
  
  #latest-cards .card-container .card-body .card-text {
    margin: 0 0 25px 0;
  }
  
  #latest-cards .card-container .card-body .card-btn {
    line-height: 2;
  }
  
  #latest-cards .card-container .card-img-container {
    overflow: hidden;
  }
  
  #latest-cards .card-footer {
    padding: 20px 0 0 0;
  }
  
  #latest-cards .card-footer .card-logo {
    height: 3rem;
    width: 3rem;
    float: left;
  }
  
  #latest-cards .card-footer .card-logo img {
    height: 100%;
    border-radius: 50%;
  }
  
  #latest-cards .card-footer ul {
    padding: 0 0 0 20px;
    margin: 0;
  }
  
  #latest-cards .card-footer ul li {
    list-style-type: none;
  }
  
  #card-1,
  #card-2,
  #card-3 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  
  #card-1 {
    background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/thumb/it-project-manager-lKVK.jpg");
  }
  
  #card-2 {
    background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/thumb/2nd-line-support-eTYH.jpg");
  }
  
  #card-3 {
    background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/thumb/march-2021-notables-oFgT.jpg");
  }
  
  .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 2;
    opacity: 0;
  }
  
  .header-latest span {
    font-size: 20px;
    border-bottom: 5px solid #333645;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .card-footer {
    font-size: .875rem;
    border: none;
    background: #fff;
  }
  
  .card-footer p {
    color: #666;
  }
  
  .card-title {
    font-size: 1rem;
  }
  
  .card-title:hover {
    text-decoration: underline;
  }
  
  .card-text {
    font-size: .8125rem;
  }
  
  .news-card h5 {
    color: #2ecc71;
  }
  
  .news-card .card-btn {
    background: #2ecc71;
  }
  
  .news-card .card-btn:hover {
    background: #25a25a;
  }
  
  .careers-card h5 {
    color: #4183d7;
  }
  
  .careers-card .card-btn {
    background: #4183d7;
  }
  
  .careers-card .card-btn:hover {
    background: #286abd;
  }
  
  #newsletter-container .news-inner {
    width: 100%;
    margin: 0 auto;
  }
  
  #newsletter-container .inner {
    padding: 50px 30px;
  }
  
  #newsletter-container h2,
  #newsletter-container .name,
  #newsletter-container .email {
    margin: 0 0 15px 0;
  }
  
  #newsletter-container .name p,
  #newsletter-container .email p {
    margin: 0 0 5px 0;
  }
  
  #newsletter-container label a {
    height: auto;
    width: auto;
  }
  
  #newsletter-container input[type="text"],
  #newsletter-container input[type="email"] {
    height: 47px;
    width: 100%;
    padding: 5px 15px;
  }
  
  #newsletter-container .grid,
  #newsletter-container .grid * {
    cursor: pointer;
  }
  
  #newsletter-container .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 0 20px 0;
  }
  
  #newsletter-container .grid .checkbox {
    min-width: 2rem;
    position: relative;
    border: 3px solid #333645;
    border-radius: 3px;
    height: 2rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0 20px 0 0;
  }
  
  #newsletter-container .grid .checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
  }
  
  #newsletter-container .grid .checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  #newsletter-container .grid .checkbox input:checked ~ .checkmark {
    background: #333645;
  }
  
  #newsletter-container .grid .checkbox .checkmark:after {
    content: '';
    color: white;
    position: absolute;
    display: none;
  }
  
  #newsletter-container .grid .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  #newsletter-container .grid .checkbox .checkmark:after {
    left: 9px;
    top: 2px;
    border: solid white;
    border-width: 0 2px 2px 0;
    width: 5px;
    height: 1rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #newsletter-container .grid .checkbox-label {
    display: inline;
    width: auto;
  }
  
  #newsletter-container .grid .checkbox-label span {
    margin: 0;
  }
  
  #newsletter-container {
    background: #ddd;
  }
  
  #newsletter-container h2 {
    font-size: 2.25rem;
    font-weight: normal;
  }
  
  #newsletter-container p,
  #newsletter-container .checkbox-label span {
    font-weight: 600;
  }
  
  #newsletter-container span a {
    text-decoration: underline;
  }
  
  #newsletter-container input[type="text"],
  #newsletter-container input[type="email"] {
    font-size: 1rem;
    border: 1px solid #ccc;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  
  #newsletter-container .name > p:after,
  #newsletter-container .email > p:after {
    content: " *";
    color: #d24d57;
  }
  
  .subscribe-btn button {
    color: #fff;
    background: #333645;
    border: none;
    border-radius: 4px;
  }
  
  .subscribe-btn button:hover {
    background: #1d1f28;
  }
  
  .subscribe-btn,
  .subscribe-btn button,
  .subscribe-btn button * {
    display: inline-block;
  }
  
  .subscribe-btn {
    min-height: 47px;
  }
  
  .subscribe-btn button,
  .subscribe-btn button * {
    margin: auto;
  }
  
  .subscribe-btn button {
    width: 100%;
    padding: 0 15px;
  }
  
  footer .inner {
    padding: 50px 0;
  }
  
  footer .inner ul {
    padding: 0;
  }
  
  footer .inner h2 {
    margin: 0 0 26px 0;
  }
  
  footer .inner > div:not(.social) {
    margin: 0 0 30px 0;
  }
  
  footer .inner div:not(.social), footer .inner .social h2 {
    padding: 0 15px;
  }
  
  footer .inner .social .inner-social {
    padding: 0;
    font-size: 0;
    letter-spacing: 0;
  }
  
  footer .inner .social .inner-social > *,
  footer .inner .social .inner-social > * > * {
    display: inline-block;
  }
  
  footer .inner .social .inner-social > div {
    padding: 0 15px;
    width: 50%;
    text-align: center;
  }
  
  footer .inner .social .inner-social > div:not(:last-child) {
    margin: 0 0 30px 0;
  }
  
  footer .inner .social .inner-social a {
    height: 100%;
    width: 100%;
  }
  
  footer, footer a {
    color: #fff;
  }
  
  footer {
    background: #333645;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer ul {
    font-size: 0.8125rem;
    list-style-type: none;
  }
  
  footer h2 {
    font-size: 1rem;
    font-weight: normal;
  }
  
  footer .inner-social #fb-social:hover {
    background: #3b5998;
  }
  
  footer .inner-social #tw-social:hover {
    background: #00aced;
  }
  
  footer .inner-social #li-social:hover {
    background: #0077b5;
  }
  
  footer .inner-social a {
    background: #262833;
    text-align: center;
    padding: 0;
  }
  
  footer .inner-social a i {
    font-size: 1.75rem;
    line-height: 2;
  }
  
  @media only screen and (min-width: 768px) {
    .flex-header .header-left,
    .flex-header .header-right {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .flex-header #header-logo {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      width: 345px;
      margin: 0 20px 0 0;
    }
    .flex-header #header-logo img {
      width: 100%;
    }
    .flex-header #contact {
      display: none;
    }
    .flex-header #search-container {
      height: auto;
      width: 100%;
      padding: 7px 0;
    }
    .flex-header #search-bar {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      height: 100%;
      margin: 0;
    }
    .flex-header #search-bar .search-bar {
      width: 100%;
    }
    .flex-header #search-bar .search-bar input {
      border: 1px solid #999aa2;
      border-radius: 0;
      padding: 5px 15px;
      background: #fff;
    }
    .flex-header #search-bar .search-btn {
      width: 25%;
    }
    .flex-header #search-bar .search-btn button {
      color: #fff;
      background: #999aa2;
      border-radius: 0 3px 3px 0;
    }
    .flex-header #search-bar .search-btn button:hover {
      background: #7e808a;
    }
    .flex-header #nav {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }
    #first-search-bar {
      display: none;
    }
    #img-slider,
    .slide-img {
      height: calc(100vh - 109px);
    }
    #block-container .row-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    #block-container .row-2 > * {
      width: 47.9%;
    }
    #block-container .row-2 > a:nth-child(2) {
      margin-top: 0;
    }
    #block-container .row-2 > a:nth-child(1),
    #block-container .row-2 > a:nth-child(3) {
      margin-right: 30px;
    }
    .container-culture {
      padding: 0 15px;
    }
    .card-container {
      padding: 0 0 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .card-container > div:nth-child(n+3) {
      display: none;
    }
    .card-container .card {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-top: 0;
    }
    #latest-cards .card-container > div:nth-child(n+2) {
      margin: 0 0 0 20px;
    }
    .clients {
      padding: 50px 0;
    }
    .clients .flex-clients {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 15px;
    }
    .clients .flex-clients > div {
      display: inline-block;
      position: relative;
      height: 45px;
      min-width: 86px;
      max-width: 247.5px;
      padding: 0 20px;
      text-align: center;
      background: transparent;
    }
    .clients .flex-clients > div img {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
    .client-info,
    .client-info + * {
      visibility: hidden;
    }
    .info-bar {
      display: inline-block;
      width: 33px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
    }
    .client-info {
      bottom: 210%;
      width: 260px;
      padding: 20px;
      color: #fff;
      text-align: center;
      z-index: 2;
    }
    .client-info h3 {
      font-size: 1.125rem;
      font-weight: normal;
      margin: 0;
    }
    .client-info p {
      font-size: 0.8125rem;
      margin: 0;
    }
    .client-center {
      position: absolute;
      left: -200%;
      right: -200%;
      margin: auto;
    }
    .arrow {
      width: 3rem;
      height: 3rem;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      bottom: 157%;
      z-index: 1;
    }
    .each-client:hover div.client-info,
    .each-client:hover div.arrow {
      visibility: visible;
      background: #333645;
    }
    .each-client:hover .grey,
    .first-row div:hover .grey,
    .second-row div:hover .grey {
      display: none;
    }
    .each-client:hover .colour-accr,
    .each-client:hover .colour,
    .first-row div:hover .colour-accr,
    .first-row div:hover .colour,
    .second-row div:hover .colour-accr,
    .second-row div:hover .colour {
      display: inline-block;
    }
    .colour-accr,
    .colour {
      display: none;
    }
    .partners {
      padding: 50px 0;
    }
    .partners .partners-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0 15px;
    }
    .partners .partners-container .first-row,
    .partners .partners-container .second-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      width: 100%;
    }
    .partners .partners-container .first-row > div,
    .partners .partners-container .second-row > div {
      display: inline-block;
      padding: 0 20px;
      text-align: center;
    }
    .partners .partners-container .first-row {
      height: 82px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .partners .partners-container .first-row div {
      min-width: 73px;
      max-width: 250px;
    }
    .partners .partners-container .first-row div img {
      max-width: 100%;
    }
    .partners .partners-container .first-row div#google {
      -webkit-box-shadow: 2px 2px 3px #d9d9d9;
              box-shadow: 2px 2px 3px #d9d9d9;
      font-size: 0;
    }
    .partners .partners-container .first-row div#google > img {
      height: 100%;
      width: 100%;
    }
    .partners .partners-container .second-row {
      height: 66px;
      margin: 20px 0 0 0;
    }
    .partners .partners-container .second-row div {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    .partners .partners-container .second-row div img {
      height: 100%;
    }
    .partners .partners-container .second-row div .royal {
      height: auto;
    }
    #newsletter-container .news-inner {
      padding: 0 15px;
    }
    footer .inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    footer .inner div {
      width: 50%;
    }
    footer .inner .website,
    footer .inner .social {
      margin: 0;
    }
    footer .inner .social .inner-social {
      margin: 0;
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .max-width {
      max-width: 970px;
    }
    .flex-header .header-left,
    .flex-header .header-right {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .flex-header #header-logo {
      margin: 0 20px 0 0;
    }
    .flex-header #support,
    .flex-header #contact,
    .flex-header #contact .fa-paper-plane,
    .flex-header #contact span {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }
    .flex-header #support a,
    .flex-header #contact a {
      display: inline-block;
      height: 100%;
      margin: 0 20px 0 0;
      color: #fff;
    }
    .flex-header #support a .contents,
    .flex-header #contact a .contents {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
    }
    .flex-header #support .fa-mouse,
    .flex-header #contact .fa-paper-plane {
      font-size: 1.5rem;
    }
    .flex-header #support {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
    .flex-header #support a {
      background: #4183d7;
    }
    .flex-header #support a:hover {
      background: #286abd;
    }
    .flex-header #contact a {
      background: #999aa2;
    }
    .flex-header #contact a:hover {
      background: #7e808a;
    }
    .flex-header #contact {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }
    .flex-header #contact .fa-phone-volume {
      display: none;
    }
    .flex-header #search-container {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      width: auto;
    }
    .flex-header #search-container .search-btn {
      width: 4rem;
    }
    .flex-header #search-container .search-btn > button {
      border-radius: 3px;
    }
    .flex-header #nav {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
    }
    .hide-bar {
      display: none;
    }
    #navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    #img-slider .slide-img-container {
      text-align: left;
    }
    .slide-img-container .inner-slide {
      max-width: 970px;
    }
    #img-slider,
    .slide-img {
      height: calc(100vh - 209px);
    }
    .inner-slide {
      width: 100%;
      margin: 0;
    }
    #block-container .row-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    #block-container .row-1 > * {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    #block-container .row-1 > a:nth-child(n+2) {
      margin-left: 30px;
      margin-top: 0;
    }
    #block-container .row-2 > * {
      width: 48.4%;
    }
    .card-top,
    .card {
      overflow: hidden;
    }
    .card-top {
      position: relative;
      -webkit-transition-duration: .4s;
              transition-duration: .4s;
    }
    .card-top:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    .card-top:hover img {
      visibility: hidden;
    }
    .card-inner,
    .card-body {
      overflow: hidden;
    }
    .gradient:hover {
      -webkit-transition: opacity .4s;
      transition: opacity .4s;
      opacity: .4;
    }
    #our-culture {
      background-image: url("../logos/branded.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: auto 100%;
    }
    .clients .flex-clients > div {
      height: 3.9rem;
      min-width: 104px;
      max-width: 329px;
    }
    .clients .flex-clients > div .client-info {
      bottom: 180%;
    }
    .clients .flex-clients > div .arrow {
      bottom: 142%;
    }
    .partners .partners-container .first-row {
      height: 110px;
    }
    .partners .partners-container .first-row div {
      min-width: 109px;
      max-width: 285px;
    }
    .partners .partners-container .second-row {
      height: 90px;
    }
    #newsletter-container .name,
    #newsletter-container .email {
      display: inline-block;
      width: 48.4%;
    }
    #newsletter-container .email {
      float: right;
    }
  }
  
  @media only screen and (min-width: 1260px) {
    .max-width {
      max-width: 1200px;
    }
    .flex-header div#search-container {
      display: inline-block;
      width: 18.9rem;
    }
    .hide-bar {
      display: inline-block;
      width: 79%;
    }
    .flex-header #search-container #search-bar {
      width: 100%;
    }
    .flex-header #search-container #search-bar .search-btn {
      width: 21%;
    }
    .flex-header #search-container #search-bar .search-btn > button {
      border-radius: 0 3px 3px 0;
    }
    .lower-nav-container .lower-navigation {
      font-size: 1rem;
      line-height: 3;
    }
    #navigation .inner-container {
      max-width: 1170px;
    }
    .slide-img-container .inner-slide {
      max-width: 1200px;
    }
    #block-container .row-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    }
    #block-container .row-2 > a:nth-child(1) {
      margin: 0;
    }
    #block-container .row-2 > a:nth-child(n+2) {
      margin: 0 0 0 30px;
    }
    .card-container > div:nth-child(n+3) {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }
    .inner-culture {
      width: 50%;
      padding: 0 15px 0 0;
    }
    .clients .flex-clients > div {
      height: 4.375rem;
    }
    .clients .flex-clients > div .client-info {
      bottom: 171%;
    }
    .clients .flex-clients > div .arrow {
      bottom: 136.5%;
    }
    .partners .partners-container .first-row {
      height: 88px;
    }
    .partners .partners-container .first-row div {
      min-width: 44px;
      max-width: 220px;
    }
    .partners .partners-container .second-row {
      height: 58px;
    }
    .partners .partners-container .second-row div img {
      height: 100%;
      width: auto;
    }
    footer .inner {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    }
    footer .inner > div:not(#social) {
      margin: 0;
    }
  }
  /*# sourceMappingURL=styles.css.map */